
@{ ViewData["Title"] = "Index"; }

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="~/Images/profile_small.png" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h1 class="no-margins">
                            @User.Identity.Name
                            <!--User.FindFirst("Weight").Value;-->
                        </h1>
                        <p>
                            Email do usuário
                        </p>
                        <table class="table small m-b-xs">
                            <tbody>
                                <tr>
                                    <td>
                                        Peso: <strong>58kg</strong>
                                    </td>
                                    <td>
                                        Altura: <strong>163cm</strong>
                                    </td>
                                    <td>
                                        Gordura Corporal: <strong>%22</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="no-margins">Meta diária de nutrientes:</h3>
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td class="text-success">
                            <strong class="badge-success">' 77g </strong> de Calorias
                        </td>
                        <td class="text-info">
                            <strong class="badge-info">' 22g </strong> de Carboidratos
                        </td>

                    </tr>
                    <tr>
                        <td class="text-warning">
                            <strong class="badge-warning">' 61 </strong>g de Proteínas
                        </td>
                        <td class="text-danger">
                            <strong class="badge-danger">' 54g </strong> de Gorduras
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Progresso Kgs</small>
            <h2 class="no-margins">58</h2>
            <div id="sparkline1"></div>
        </div>
    </div>
    <div class="wrapper wrapper-content">

        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <h4 class="text-center m">
                        
                    </h4>
                    <div class="slick_demo_1">
                        <div>
                            <div class="ibox-content">
                                <h2>Hoje, @DateTime.Today.Day/@DateTime.Today.Month</h2>
                                <div class="col-lg-8 m-b-lg">
                                    <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon yellow-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>

                                            <div class="vertical-timeline-content">
                                                <h2>Café da manhã</h2>
                                                <p>
                                                    Comida <a href="#" class="btn btn-sm btn-warning"> Visualizar</a>
                                                </p>
                                                
                                            </div>
                                        </div>

                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon blue-bg">
                                                <i class="fa fa-file-text"></i>
                                            </div>

                                            <div class="vertical-timeline-content">
                                                <h2>Almoço</h2>
                                                <p>Comida <a href="#" class="btn btn-sm btn-success"> Mais Info</a></p>
                                            </div>
                                        </div>

                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon red-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>

                                            <div class="vertical-timeline-content">
                                                <h2>Janta</h2>
                                                <p>
                                                    Comida
                                                    <a href="#" class="btn btn-sm btn-danger"> Mais Info</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Amanhã @DateTime.Today.AddDays(1).Day/@DateTime.Today.AddDays(1).Month</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Daqui a dois dias @DateTime.Today.AddDays(2).Day/@DateTime.Today.AddDays(2).Month</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Daqui a tres dias @DateTime.Today.AddDays(3).Day/@DateTime.Today.AddDays(3).Month</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Daqui a quatro dias @DateTime.Today.AddDays(4).Day/@DateTime.Today.AddDays(4).Month</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Daqui a cinco dias @DateTime.Today.AddDays(5).Day/@DateTime.Today.AddDays(5).Month</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>daqui a seis dias</h2>
                                <h2>@DateTime.Today.AddDays(6).Day/@DateTime.Today.AddDays(6).Month</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick.css" />
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick-theme.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/lib/slick-carousel/slick/slick.js"></script>
        <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 48], {
                type: 'line',
                width: '100%',
                height: '50',
                lineColor: '#1ab394',
                fillColor: "transparent"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {


            $('.slick_demo_1').slick({
                dots: true
            });

            $('.slick_demo_2').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });

            $('.slick_demo_3').slick({
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                adaptiveHeight: true
            });

        });
    </script>
}
