@model MVCPresentationLayer.Models.InsertModels.UserInsertViewModel
@using MVCPresentationLayer.Models.QueryModels
@using BusinessLogicalLayer
@using Common
@using Entities
@using Entities.Interfaces

@{
    ViewData["Title"] = "Insert";
}
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />
        <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
        <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/lib/switchery/switchery.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
        <link rel="stylesheet" href="~/lib/ionRangeSlider/ion.rangeSlider.css" />
        <link rel="stylesheet" href="~/lib/ionRangeSlider/ion.rangeSlider.skinFlat.css" />
    </environment>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>


</head>
<body class="login-bg">

    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>
                        Cadastro
                    </h2>
                    <p>
                        Siga os passos para o cadastro no sistema.
                    </p>

                    <form asp-action="Insert" id="form" class="wizard-big">
                        <h1>Conta</h1>
                        <fieldset>
                            <h2>Informação de perfil</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="First_Name"></label>
                                        <input asp-for="First_Name" type="text" id="firstName" class="form-control required">
                                        <span asp-validation-for="First_Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Last_Name"></label>
                                        <input asp-for="Last_Name" type="text" id="lastName" class="form-control required">
                                        <span asp-validation-for="Last_Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" type="email" id="email" class="form-control required email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" id="data_3">
                                        <label asp-for="Date_Of_Birthday" class="font-normal"></label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input asp-for="Date_Of_Birthday" type="text" id="Date_Of_Birthday" class="form-control date">
                                        </div>
                                        <span asp-validation-for="Date_Of_Birthday" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" type="password" id="password" name="password" class="form-control required">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirmar senha</label>
                                        <input id="confirm" name="confirm" type="password" class="form-control required">
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <h1>Dados</h1>
                        <fieldset>
                            <h2>Dados pessoais</h2>
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label asp-for="Height"></label>
                                        <input asp-for="Height" type="text" class="touchspin2" id="demo1">
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Weight"></label>
                                        <input asp-for="Weight" class="touchspin2" id="demo2" type="text">
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Gender"></label>
                                        @{
                                            string[] biological_gender = Enum.GetNames(typeof(Entities.Enums.Biological_Gender));
                                        }

                                        <select asp-for="Gender" class="form-control" id="Biological_Gender">
                                            @for (int i = 0; i < biological_gender.Length; i++)
                                            {
                                                <option value="@i">@biological_gender[i]</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BodyFat"></label>
                                        <input asp-for="BodyFat" class="touchspin2" id="demo5" type="text">
                                        <span asp-validation-for="BodyFat" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Activity"></label>
                                        @{
                                            string[] Activity = Enum.GetNames(typeof(Entities.Enums.Exercise_Activity));
                                        }

                                        <select asp-for="Activity" class="form-control" id="Activity">
                                            @for (int i = 0; i < Activity.Length; i++)
                                            {
                                                <option value="@i">@Activity[i].Replace("_", " ")</option>
                                            }

                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Objective"></label>
                                        @{
                                            string[] Objective = Enum.GetNames(typeof(Entities.Enums.Objective));
                                        }

                                        <select asp-for="Objective" class="form-control" id="Objective">
                                            @for (int i = 0; i < Objective.Length; i++)
                                            {
                                                <option value="@i">@Objective[i].Replace("_", " ")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Weight_Objective"></label>
                                        <input asp-for="Weight_Objective" type="text" class="touchspin2" id="demo3">
                                        <span asp-validation-for="Weight_Objective" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Days_To_Reach_Goal"></label>
                                        <input asp-for="Days_To_Reach_Goal" class="touchspin2" id="demo4" type="text">
                                        <span asp-validation-for="Days_To_Reach_Goal" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>Restrições</h1>
                        <fieldset>
                            <h2>Alergias, intolerâncias e restrições alimentares</h2>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox">
                                        <div class="ibox-content">
                                            <p>
                                                Escolha uma dieta pronta ou selecione alimentos que *não* deseja.
                                            </p>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select id="Restrictions" name="Restrictions" class="select2_demo_4 form-control">
                                                        @if (ViewBag.Categories != null)
                                                        {
                                                            <option value="tudo">Todas as categorias</option>
                                                            foreach (FoodCategory category in ViewBag.Categories)
                                                            {
                                                                <option value="@category.ID">@category.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <select id="FoodSelect" asp-for="FoodSelect" class="form-control dual_select" multiple>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>

        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>


    <environment names="Development,Staging,Production">
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib/steps/jquery.steps.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/cropper/dist/cropper.js"></script>
        <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
        <script src="~/lib/dualListbox/jquery.bootstrap-duallistbox.js"></script>
        <script src="~/lib/daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/cropper/dist/cropper.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/lib/nouslider/jquery.nouislider.min.js"></script>
        <script src="~/lib/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
        <script src="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
        <script src="~/lib/dualListbox/jquery.bootstrap-duallistbox.js"></script>
        <script src="~/lib/daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/ionRangeSlider/ion.rangeSlider.min.js"></script>

    </environment>


    <script type="text/javascript">

        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                // if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                //     $(this).steps("next");
                // s}

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit().val;
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                },
                '#firstName': {
                    minlength: 3
                },
                '#lasttName': {
                    minlength: 3
                }
            }
        });

        $("#ionrange_1").ionRangeSlider({

            min: 0,
            //from: caloria,
            max: 10000,
            type: 'single',
            step: 10,
            postfix: " gramas",
            prettify: true,
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10000,
            //from: carboidrato,
            type: 'single',
            step: 10,
            postfix: " gramas",
            prettify: true,
        });

        $("#ionrange_3").ionRangeSlider({
            min: 0,
            max: 10000,
            //from: gordura,
            type: 'single',
            step: 10,
            postfix: " gramas",
            prettify: true,
        });

        $("#ionrange_4").ionRangeSlider({
            min: 0,
            max: 10000,
            //from: proteina,
            type: 'single',
            step: 10,
            postfix: " gramas",
            prettify: true,
        });

        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });

        $('.dual_select').bootstrapDualListbox({
            selectorMinimalHeight: 160
        });

        $('#data_3 .input-group.date').datepicker({
            startView: 2,
            format: 'dd/mm/yyyy',
            language: 'pt-BR',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $('input[name="daterange"]').daterangepicker();

        $('#reportrange span').html(moment().subtract(29, 'days').format('dd MMMM yyyy') + ' - ' + moment().format('dd MMMM yyyy'));

        $(".select2_demo_3").select2({
            placeholder: "Selecione uma dieta",
            allowClear: true
        });

        $("input[id='demo1']").TouchSpin({
            min: 0,
            max: 1000,
            boostat: 5,
            maxboostedstep: 10,
            postfix: 'cm',
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        $("input[id='demo2']").TouchSpin({
            min: 0,
            max: 1000,
            //step: 10,
            boostat: 5,
            maxboostedstep: 10,
            postfix: 'kg',
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
        $("input[id='demo3']").TouchSpin({
            min: 0,
            max: 1000,
            //step: 10,
            postfix: 'kg',
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
        $("input[id='demo4']").TouchSpin({
            min: 0,
            max: 1000,
            //step: 10,
            postfix: 'dias',
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
        $("input[id='demo5']").TouchSpin({
            min: 0,
            max: 1000,
            //step: 10,
            prefix: '%',
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#ionrange_1").click(function (e) {
                tr = $(this).parent().parent();
                var user = new Object();

                $.ajax({
                    method: "POST",
                    url: "/User/Update/",
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.DeuBoa) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#next").click(function (e) {
                //tr = $(this).parent().parent();
                //$("input #First_Name").val($(tr).find("td:eq( 1 )").html());
                //$("#Last_Name").val($(tr).find("td:eq( 2 )").html());
                //$("#IDUser").val($(tr).find("td:eq( 3 )").html());
                //$("#Email").val($(tr).find("td:eq( 4 )").html());
                //$("input #Date_Of_Birthday").val($(tr).find("td:eq( 5 )").html());
                //$("input #Gender").val($(tr).find("td:eq( 6 )").html());
                //$("input #Weight").val($(tr).find("td:eq( 7 )").html());
                //$("input #Height").val($(tr).find("td:eq( 8 )").html());
                //$("#BodyFat").val($(tr).find("td:eq( 9 )").html());

                var user = new Object();
                user.Date_Of_Birthday = Date.parse($("input #Date_Of_Birthday").val());
                user.Gender = $("input #Gender").val();
                user.Weight = parseFloat($("input #Weight").val());
                user.Height = parseFloat($("input #Height").val());

                $.ajax({
                    method: "POST",
                    url: "/User/Update/",
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.DeuBoa) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });
        });


        $("#Restrictions").change(function () {

            var id = $("#Restrictions").val();

            $.ajax({
                method: "GET",
                url: "/User/GetFoodOfCategory/" + id,
                contentType: "application/json",
                dataType: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var s = '<option value="' + data[i].id + '">' + data[i].food_Name + '</option>';
                        $("#FoodSelect").append(s);
                        $("#FoodSelect").bootstrapDualListbox("refresh", true);
                    }
                },
                failure: function (response) {
                    alert("Falha na comunicação com o servidor.");
                },
                error: function (response) {
                }
            });
        });
    </script>
</body>
</html>
