@model IEnumerable<MVCPresentationLayer.Models.QueryModels.UserQueryViewModel>

@{ ViewData["Title"] = "FooTables"; }
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                            <tr>
                                <th data-toggle="true">Ver mais</th>
                                <th>@Html.DisplayNameFor(model => model.First_Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Last_Name)</th>
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th data-hide="all">@Html.DisplayNameFor(model => model.Date_Of_Birthday)</th>
                                <th data-hide="all">@Html.DisplayNameFor(model => model.Gender)</th>
                                <th data-hide="all">@Html.DisplayNameFor(model => model.Weight)</th>
                                <th data-hide="all">@Html.DisplayNameFor(model => model.Height)</th>
                                <th data-hide="all">@Html.DisplayNameFor(model => model.BodyFat)</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><small></small></td>
                                    <td value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.First_Name)</td>
                                    <td id="nome2" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Last_Name)</td>
                                    <td id="ID" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td id="email" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td id="datanasc" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Date_Of_Birthday)</td>
                                    <td id="gender" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td id="weight" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Weight)</td>
                                    <td id="height" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Height)</td>
                                    <td id="bodyfat" value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.BodyFat)</td>
                                    <td class="userID">
                                        <a data-toggle="modal" class="btn btn-primary" id="mod" href="#modal-form">Editar</a>
                                    </td>
                                    <td class="userID">
                                        <a data-toggle="modal" class="btn btn-danger" id="moddel" href="#modal-delete">Deletar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>


                    <div id="modal-form" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form role="form">
                                        <h3>Editar Usuario ID:<label name="IDUser" id="IDUser">  </label></h3>
                                        <div class="row">
                                            <div class="col-sm-6 b-r">
                                                <div class="form-group"><label name="First_Name" class="col-sm-2 col-form-label">Nome</label> <input name="First_Name" id="First_Name" type="text" value="" class="form-control"></div>
                                                <span class="text-danger"></span>
                                                <div class="form-group"><label name="Last_Name" class="col-sm-2 col-form-label">Sobrenome</label> <input name="Last_Name" id="Last_Name" type="text" value="" class="form-control"></div>
                                                <span class="text-danger"></span>
                                                <div class="form-group"><label name="Email" class="col-sm-2 col-form-label">Email</label><input name="Email" type="email" id="Email" class="form-control"></div>
                                                <span class="text-danger"></span>
                                                <div class="form-group" id="data_3">
                                                    <label name="Date_Of_Birthday" class="col-lg-9 col-form-label">Data de Nascimento</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="Date_Of_Birthday" id="Date_Of_Birthday" type="text" class="form-control">
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label name="Gender" class="col-sm-2 col-form-label">Gênero</label>
                                                    @{
                                                        string[] biological_gender = Enum.GetNames(typeof(Entities.Enums.Biological_Gender));
                                                    }

                                                    <select class="form-control" name="Biological_Gender" id="Biological_Gender">
                                                        @for (int i = 0; i < biological_gender.Length; i++)
                                                        {
                                                            <option id="Gender" value="@i">@biological_gender[i]</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group"><label name="Weigth" class="col-sm-2 col-form-label">Peso</label><input name="Weight" id="Weight" type="text" class="form-control"></div>
                                                <span class="text-danger"></span>
                                                <div class="form-group"><label name="Height" class="col-sm-2 col-form-label">Altura</label><input name="Height" id="Height" type="text" class="form-control"></div>
                                                <span class="text-danger"></span>
                                                <div class="form-group"><label name="BodyFat" class="col-lg-9 col-form-label">% Gordura</label><input name="BodyFat" id="BodyFat" type="text" class="form-control"></div>
                                                <span class="text-danger"></span>
                                                <div class="form-group"><button id="btnUpdate" class="btn btn-sm-10 btn-primary" type="submit"><strong>Atualizar</strong></button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal-delete" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form role="form">
                                        <h3>Deletar Usuário ID:<small>  </small></h3>
                                        <div class="row">
                                            <div class="col-sm-6 b-r">
                                                <div class="form-group"><button id="btnAccept" class="btn btn-sm-10 btn-warning" type="submit"><strong>Deletar</strong></button></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group"><button id="btnRefuse" class="btn btn-sm-10 btn-success" type="submit"><strong>Cancelar</strong></button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {

    <script>
        import { Modal } from "bootstrap";
    </script>

    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();


        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(".btn btn-primary, #mod").click(function (e) {
                tr = $(this).parent().parent();
                $("#First_Name").val($(tr).find("td:eq( 1 )").html());
                $("#Last_Name").val($(tr).find("td:eq( 2 )").html());
                $("#IDUser").val($(tr).find("td:eq( 3 )").html());
                $("#Email").val($(tr).find("td:eq( 4 )").html());
                $("#Date_Of_Birthday").val($(tr).find("td:eq( 5 )").html());
                $("#Gender").val($(tr).find("td:eq( 6 )").html());
                $("#Weight").val($(tr).find("td:eq( 7 )").html());
                $("#Height").val($(tr).find("td:eq( 8 )").html());
                $("#BodyFat").val($(tr).find("td:eq( 9 )").html());
            });

            $("#btnUpdate").click(function (e) {
                tr = $(this).parent().parent();
                var user = new Object();
                user.First_Name = $("#First_Name").val();
                user.Last_Name = $("#Last_Name").val();
                user.ID = parseInt($("#IDUser").val());
                user.Email = $("#Email").val();
                //user.Date_Of_Birthday = Date.parse($("#Date_Of_Birthday").val());
                //user.Gender = $("#Gender").val();
                user.Weight = parseFloat($("#Weight").val());
                user.Height = parseFloat($("#Height").val());
                user.BodyFat = parseFloat($("#BodyFat").val());

                $.ajax({
                    method: "POST",
                    url: "/User/GetDailyNeeds/",
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.DeuBoa) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });
        });



    </script>


}