@using Entities.Interfaces
@using Entities
@using BusinessLogicalLayer

@{
    ViewData["Title"] = "Insert";
    int id = 0;
    IMealService mealService = new MealBLL();
    IFoodService foodService = new FoodBLL();
    IFood_CategoryService categoryService = new Food_CategoryBLL();
    List<Meal> meals = mealService.GetAll().Result.Data;
    List<Food> foods = foodService.GetAll().Result.Data;
    List<FoodCategory> foodCategories = categoryService.GetAll().Result.Data;
    List<FoodAmountPerMeal> foodAmout = new List<FoodAmountPerMeal>();
    string a;
}

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Refeições</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Procure por uma refeição..." class="input form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h2>Cadastrar</h2>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <a data-toggle="modal" class="btn btn-primary" id="mod" href="#modal-form">Refeição</a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <a data-toggle="modal" class="btn btn-primary" id="mod2" href="#modal-form2">Alimento</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clients-list">
                    <span class="float-right small text-muted">*** Pratos</span>
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-cutlery"></i> Pratos</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-leaf"></i> Ingredientes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            @if (meals != null)
                                            {
                                                foreach (Meal item in meals)
                                                {
                                                    <tr id="meal">
                                                        <td class="client-avatar"><img alt="image" src="~/Images/Meals/@item.Image">@item.ID</td>
                                                        <td><a href="#contact-1" class="client-link">@item.Name</a></td>
                                                        <td>@item.Category</td>
                                                        <td>@item.Total_Calories</td>
                                                        <td>@item.Total_Carbohydrates</td>
                                                        <td>@item.Total_Proteins</td>
                                                        <td>@item.Total_Lipids</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            @if (foods != null)
                                            {
                                                foreach (Food item in foods)
                                                {
                                                    <tr>
                                                        <td><a href="#contact-1" class="client-link">@item.Food_Name</a></td>
                                                        <td>@item.Calories</td>
                                                        <td>@item.Carbohydrate</td>
                                                        <td>@item.Protein</td>
                                                        <td>@item.Lipid</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="ibox selected">
            <div class="ibox-content">
                <div class="tab-content">
                    <div id="contact-1" class="tab-pane active">
                        <div class="row m-b-lg">
                            <div class="col-lg-8 text-center">
                                <div class="m-b-sm">
                                    <img alt="image" class="rounded-circle" src="~/Images/a2.jpg"
                                         style="width: 62px">
                                </div>
                                <h2 id="nomeRefeicao"></h2>
                            </div>
                        </div>
                        <div class="client-detail">
                            <div class="full-height-scroll">

                                <strong>Ingredientes</strong>
                                @if (foodAmout != null)
                                {
                                    <ul class="list-group clear-list">
                                        @foreach (FoodAmountPerMeal item in foodAmout)
                                        {
                                            <li class="list-group-item fist-item">
                                                <span class="float-right"> @item.Quantity </span>
                                                @item.Food.Food_Name
                                            </li>
                                        }
                                    </ul>
                                    <strong>Receita</strong>
                                    <p>
                                    </p>

                                }
                            </div>
                        </div>
                    </div>
                    <div id="company-1" class="tab-pane">
                        <div class="m-b-lg">
                            <h2>Tellus Institute</h2>
                            <div>
                                <small>Active project completion with: 48%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="client-detail">
                            <div class="full-height-scroll">

                                <strong>Last activity</strong>

                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="float-right"> <span class="label label-primary">NEW</span> </span>
                                        The point of using
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right"> <span class="label label-warning">WAITING</span></span>
                                        Lorem Ipsum is that it has
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right"> <span class="label label-danger">BLOCKED</span> </span>
                                        If you are going
                                    </li>
                                </ul>
                                <small>Notes</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="POST">
                    <div class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input id="MealName"class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagem</label>
                        <div class="custom-file">
                            <input id="logo" type="file" class="custom-file-input">
                            <label for="logo" class="custom-file-label">Escolha a imagem...</label>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label">Categoria</label>
                        @{
                            string[] categoria = Enum.GetNames(typeof(Entities.Enums.Categoria_Refeicao));
                        }

                        <select class="form-control" id="MealCategory">
                            @for (int i = 0; i < categoria.Length; i++)
                            {
                                <option value="@i">@categoria[i]</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Receita</label>
                        <textarea id="Description" class="form-control border-left m-t" style="height: 200px"></textarea>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-hover">
                            <tbody>
                                @if (foods != null)
                                {
                                    foreach (Food item in foods)
                                    {
                                        <tr>
                                            <td><a href="#contact-1" class="client-link">@item.Food_Name</a></td>
                                            <td>@item.Calories</td>
                                            <td>@item.Carbohydrate</td>
                                            <td>@item.Protein</td>
                                            <td>@item.Lipid</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="MealInsert" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form2" class="modal fade" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="POST" class="form">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label"> Nome do alimento</label>
                                <input id="Food_Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label">Categoria</label>
                                <select id="FoodCategory" class="chosen-select" name="account">
                                    @if (foodCategories != null)
                                    {
                                        foreach (FoodCategory item in foodCategories)
                                        {

                                            <option value="@item.ID"> @item.Name</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Cadastrar nova categoria</label>

                            <div class="input-group">
                                <input type="text" class="form-control"> <span class="input-group-append"></span>
                                    <button type="button" id="InsertCategory" class="btn btn-primary">
                                        Cadastrar
                                    </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Calorias</label>
                                    <input id="Calories" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Álcool</label>
                                    <input id="Alcohol" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Carboidrato</label>
                                    <input id="Carbohydrate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Cobre</label>
                                    <input id="Copper" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Fíbra</label>
                                    <input id="Fiber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Gorduras</label>
                                    <input id="Lipid" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Magnesio</label>
                                    <input id="Magnesium" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Fósforo</label>
                                    <input id="Phosphor" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Potássio</label>
                                    <input id="Potassium" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Proteína</label>
                                    <input id="Protein" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Sódio</label>
                                    <input id="Sodium" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Selenio</label>
                                    <input id="Selenium" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Vitamina A</label>
                                    <input id="Vitamin_A" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Vitamina C</label>
                                    <input id="Vitamin_C" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Vitamina D</label>
                                    <input id="Vitamin_D" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Vitamina E</label>
                                    <input id="Vitamin_E" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Vitamina B6</label>
                                    <input id="Vitamin_B6" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Vitamina B12</label>
                                    <input id="Vitamin_B12" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="orm-label">Zinco</label>
                                    <input id="Zinc" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit" id="FoodInsert" value="Create">Cadastrar</button>
                                </div>
                            </div>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
        <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {

    <script>
        import { Modal } from "bootstrap";
    </script>

    <environment names="Development,Staging,Production">
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
    </environment>



    <script type="text/javascript">
        $(document).ready(function () {

            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });

            $('.footable').footable();
            $('.footable2').footable();
        });
    </script>

    <script type="text/javascript">
        $(document.body).on("click", ".client-link", function (e) {
            e.preventDefault()
            $(".selected .tab-pane").removeClass('active');
            $($(this).attr('href')).addClass("active");
        });
    </script>

    <script type="text/javascript">
        $(function () {

            $("#MealInsert").click(function (e) {
                var meal = new Object();
                meal.Name = $("#NameMeal").val();
                meal.Category = $("#Category").val();
                meal.Description = parseInt($("#Description").val());
                meal.Image = $("#Image").val();

                $.ajax({
                    method: "POST",
                    url: "Meal/Insert/",
                    data: JSON.stringify(meal),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.DeuBoa) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });

            $("#FoodInsert").click(function (e) {
                var food = new Object();
                food.Food_Name = $("#Food_Name").val();
                food.Category = $("#FoodCategory").val();
                food.Calories = parseFloat($("#Calories").val());
                food.Alcohol = parseFloat($("#Alcohol").val());
                food.Carbohydrate = parseFloat($("#Carbohydrate").val());
                food.Copper = parseFloat($("#Copper").val());
                food.Fiber = parseFloat($("#Fiber").val());
                food.Lipid = parseFloat($("#Lipid").val());
                food.Magnesium = parseFloat($("#Magnesium").val());
                food.Phosphor = parseFloat($("#Phosphor").val());
                food.Potassium = parseFloat($("#Potassium").val());
                food.Protein = parseFloat($("#Protein").val());
                food.Sodium = parseFloat($("#Sodium").val());
                food.Selenium = parseFloat($("#Selenium").val());
                food.Vitamin_A = parseFloat($("#Vitamin_A").val());
                food.Vitamin_C = parseFloat($("#Vitamin_C").val());
                food.Vitamin_D = parseFloat($("#Vitamin_D").val());
                food.Vitamin_E = parseFloat($("#Vitamin_E").val());
                food.Vitamin_B6 = parseFloat($("#Vitamin_B6").val());
                food.Vitamin_B12 = parseFloat($("#Vitamin_B12").val());
                food.Zinc = parseFloat($("#Zinc").val());

                $.ajax({
                    method: "POST",
                    url: "/Food/Insert/",
                    data: JSON.stringify(food),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.DeuBoa) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });

            $("#InsertCategory").click(function (e) {
                var category = new Object();
                category.Name = $("#NameCategory").val();

                $.ajax({
                    method: "POST",
                    url: "/FoodCategory/Insert/",
                    data: JSON.stringify(category),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.DeuBoa) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });
        });
    </script>


}

