@model MVCPresentationLayer.Models.InsertModels.MealInsertViewModel
@using Entities.Interfaces
@using Entities
@using BusinessLogicalLayer

@{
    ViewData["Title"] = "Insert";
    List<FoodAmountPerMeal> foodAmout = new List<FoodAmountPerMeal>();
}

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Refeições</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Procure por uma refeição..." class="input form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h2>Cadastrar</h2>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <a data-toggle="modal" class="btn btn-primary" id="mod" href="#modal-form">Refeição</a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <a data-toggle="modal" class="btn btn-primary" id="mod2" href="#modal-form2">Alimento</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clients-list">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-cutlery"></i> Pratos</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-leaf"></i> Ingredientes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="footable table table-stripped toggle-arrow-tiny">
                                        <thead>
                                            <tr>
                                                <th>Imagem</th>
                                                <th>Nome</th>
                                                <th>Categoria</th>
                                                <th>Calorias</th>
                                                <th>Carboidratos</th>
                                                <th>Proteínas</th>
                                                <th>Gorduras</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Meals != null)
                                            {
                                                foreach (Meal item in ViewBag.Meals)
                                                {
                                                    <tr>

                                                        @{
                                                            //string caminhoArquivo = ViewBag.Path;

                                                            string urlImagem = "~/img/refeicao/" + item.ID + ".jpg";
                                                        }

                                                        <td class="client-avatar"><img alt="image" width="30" src="@Url.Content(urlImagem)"></td>
                                                        <td><a id="meal" name="@item.ID" href="#MealColumn" class="client-link">@item.Name</a></td>
                                                        <td id="MealCategory">@item.Category</td>
                                                        <td id="MealCalories">@item.Total_Calories</td>
                                                        <td id="MealCarbohydrates">@item.Total_Carbohydrates</td>
                                                        <td id="MealProteins">@item.Total_Proteins</td>
                                                        <td id="MealLipids">@item.Total_Lipids</td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="footable table table-stripped toggle-arrow-tiny">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Alimeto</th>
                                                <th>Calorias</th>
                                                <th>Carboidratos</th>
                                                <th>Proteínas</th>
                                                <th>Gorduras</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Foods != null)
                                            {

                                                foreach (Food item in ViewBag.Foods)
                                                {
                                                    <tr>
                                                        <td><a id="food" name="@item.ID" href="#FoodColumn" class="client-link">@item.Food_Name</a></td>
                                                        <td>@item.Calories mg/1g</td>
                                                        <td>@item.Carbohydrate mg/1g</td>
                                                        <td>@item.Protein mg/1g</td>
                                                        <td>@item.Lipid mg/1g</td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox selected">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="MealColumn" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img id="mealImage" alt="image" class="" src=""
                                                 style="width: 100px">
                                        </div>
                                        <div class="col-lg-4">
                                            <h2 id="MealNameColumn"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                    <strong>Categoria</strong>

                                    <h4 id="MealCategoryColumn"></h4>

                                    <strong>Informação Nutricional</strong>

                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            <strong>Calorias</strong>
                                            <label id="MealCaloriesColumn"></label>
                                        </li>
                                        <li class="list-group-item fist-item">
                                            <strong>Carboidratos</strong>
                                            <label id="MealCarbohydratesColumn"></label>
                                        </li>
                                        <li class="list-group-item fist-item">
                                            <strong>Proteínas</strong>
                                            <label id="MealProteinsColumn"></label>
                                        </li>
                                        <li class="list-group-item fist-item">
                                            <strong>Gorduras</strong>
                                            <label id="MealLipidsColumn"></label>
                                        </li>
                                    </ul>

                                    <strong>Ingredientes</strong>
                                    <ul class="list-group clear-list">
                                        <li id="ingredientes" class="list-group-item fist-item">

                                        </li>
                                    </ul>
                                    <strong>Receita</strong>
                                    <p id="MealDescriptionColumn">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="FoodColumn" class="tab-pane">
                            <div class="m-b-lg">
                                <h2 id="FoodNameColumn"></h2>
                                <div>
                                    <small id="FoodCategoryColumn"></small>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                    <strong>Informação Nutricional</strong>

                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            <strong>Calorias</strong>
                                            <label id="FoodCalories"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Carboidratos</strong>
                                            <label id="FoodCarbs"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Proteinas</strong>
                                            <label id="FoodProteins"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Gorduras</strong>
                                            <label id="FoodLipids"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Álcool</strong>
                                            <label id="FoodAlcohol"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Cobre</strong>
                                            <label id="FoodCooper"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Fíbra</strong>
                                            <label id="FoodFiber"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Magnésio</strong>
                                            <label id="FoodMagnesium"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Fósforo</strong>
                                            <label id="FoodPhosphor"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Potássio</strong>
                                            <label id="FoodPotasium"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Sódio</strong>
                                            <label id="FoodSodium"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Selénio</strong>
                                            <label id="FoodSelenium"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Vitamina A</strong>
                                            <label id="FoodVitaminA"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Vitamina C</strong>
                                            <label id="FoodVitaminC"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Vitamna D</strong>
                                            <label id="FoodVitaminD"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Vitamina E</strong>
                                            <label id="FoodVitaminE"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Vitamina B6</strong>
                                            <label id="FoodVitaminB6"></label>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Vitamina B12</strong>
                                            <label id="FoodVitaminB12"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Cadastrar nova refeição</h2>
                    <form asp-action="Insert" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <h3 class="control-label">Nome</h3>
                                    <input asp-for="Name" id="MealName" class="form-control">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <h3 class="control-label">Imagem</h3>
                                    <div class="custom-file">
                                        <input asp-for="Image" id="logo" name="Image" type="file" class="custom-file-input">
                                        <label for="logo" class="custom-file-label">Escolha a imagem...</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">

                                    <h3 class="control-label">Categoria</h3>
                                    @{
                                        string[] categoria = Enum.GetNames(typeof(Entities.Enums.Meal_Category));
                                    }

                                    <select asp-for="Category" class="form-control" id="MealCategory">
                                        @for (int i = 0; i < categoria.Length; i++)
                                        {
                                            <option value="@i">@categoria[i]</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <h3>Ingredientes</h3>
                                        <label>Selecione um alimento, insira quantidade e unidade de medida para adiciona-lo a receita</label>
                                        <div class="row">
                                            <h5 class="control-label">Alimento</h5>
                                            <div class="hr-line-dashed"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="row">
                                                    <select id="Categories" name="Categories" class="select2_demo_4 form-control">
                                                        @if (ViewBag.Categories != null)
                                                        {
                                                            <option value="tudo">Todas as categorias</option>
                                                            foreach (FoodCategory category in ViewBag.Categories)
                                                            {
                                                                <option value="@category.ID">@category.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                    <select id="foodSelect" class="form-control" multiple>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>ID: </h5>
                                                <label class="col-form-label" id="FoodIdIntoMeal">ID</label>
                                                <h5>Nome: </h5>
                                                <label class="col-form-label" id="FoodNameIntoMeal">Nome</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Calorias: </h5>
                                                <label class="col-form-label" id="FoodCaloriesIntoMeal">Calorias</label>
                                                <h5>Carboidratos: </h5>
                                                <label class="col-form-label" id="FoodCarbsIntoMeal">Carboidratos</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Proteínas: </h5>
                                                <label class="col-form-label" id="FoodProteinsIntoMeal">Proteínas</label>
                                                <h5>Gorduras: </h5>
                                                <label class="col-form-label" id="FoodLipidsIntoMeal">Gorduras</label>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="control-label">Quantidade</h5>
                                            <input type="text" id="qnd" name="qnd" value="1" class="touchspin2">
                                        </div>
                                        <div class="col-sm-2">
                                            <h5>Unidade de medida: </h5>
                                            <label class="col-form-label" id="MealUnMeasurement">Unidade de medida</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <h5 class="control-label">Adicionar alimento a lista</h5>
                                                <a id="FoodInsertIntoMeal" class="btn btn-primary col-sm-12 text-white">Adicionar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nome</th>
                                                        <th>Quantidade</th>
                                                        <th>Un. de medida</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="myTable">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3 class="control-label">Receita</h3>
                            <textarea asp-for="Description" id="Description" class="form-control border-left m-t" style="height: 100px"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="MealInsert" value="Cadastrar refeição" class="btn btn-primary col-sm-12">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form2" class="modal fade" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"> Nome do alimento</label>
                                    <input id="Food_Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Categoria</label>
                                    <select id="FoodCategory" class="form-control" name="account">
                                        @if (ViewBag.Categories != null)
                                        {
                                            foreach (FoodCategory item in ViewBag.Categories)
                                            {

                                                <option value="@item.ID">@item.Name</option>

                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <h5 class="control-label">Unidade de medida</h5>
                                @{
                                    string[] um = Enum.GetNames(typeof(Entities.Enums.Units_Of_Measurement));
                                }

                                <select class="form-control" id="Unit">
                                    @for (int i = 0; i < um.Length; i++)
                                    {
                                        <option value="@i">@um[i]</option>
                                    }
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Calorias</label>
                                        <input id="Calories" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Álcool</label>
                                        <input id="Alcohol" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Carboidrato</label>
                                        <input id="Carbohydrate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Cobre</label>
                                        <input id="Copper" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Fíbra</label>
                                        <input id="Fiber" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Gorduras</label>
                                        <input id="Lipid" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Magnesio</label>
                                        <input id="Magnesium" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Fósforo</label>
                                        <input id="Phosphor" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Potássio</label>
                                        <input id="Potassium" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Proteína</label>
                                        <input id="Protein" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Sódio</label>
                                        <input id="Sodium" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Selenio</label>
                                        <input id="Selenium" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Vitamina A</label>
                                        <input id="Vitamin_A" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Vitamina C</label>
                                        <input id="Vitamin_C" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Vitamina D</label>
                                        <input id="Vitamin_D" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">Vitamina E</label>
                                        <input id="Vitamin_E" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">Vitamina B6</label>
                                        <input id="Vitamin_B6" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">Vitamina B12</label>
                                        <input id="Vitamin_B12" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="orm-label">Zinco</label>
                                        <input id="Zinc" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label">Cadastrar nova categoria</label>
                                    <div class="input-group">
                                        <input id="NameCategory" type="text" class="form-control"> <span class="input-group-append"></span>
                                        <button type="button" id="InsertCategory" class="btn btn-primary">
                                            Cadastrar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-sm demo2 col-sm-6" type="submit" id="FoodInsert">Cadastrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
        <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
    </environment>
}

@section Scripts {

    <script>
        import { Modal } from "bootstrap";
    </script>



    <environment names="Development,Staging,Production">
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    </environment>



    <script type="text/javascript">

        $(document).ready(function () {

            // code to read selected table row cell data (values).
            $("#MealInsert").click(function () {

                for (var i = 0; i < document.getElementById("myTable").rows.length; i++) {

                    var id = document.getElementById("myTable").rows[i].cells[0].innerHTML;
                    var qnd = document.getElementById("myTable").rows[i].cells[2].innerHTML;
                }
            });
        });

        var calories = 0;
        var carbs = 0;
        var proteins = 0;
        var lipids = 0;

        $(document).ready(function () {

            $("#qnd").change(function () {
                var qnd = $('#qnd').val();
                document.getElementById('FoodCaloriesIntoMeal').innerHTML = calories * qnd;
                document.getElementById('FoodCarbsIntoMeal').innerHTML = carbs * qnd;
                document.getElementById('FoodProteinsIntoMeal').innerHTML = proteins * qnd;
                document.getElementById('FoodLipidsIntoMeal').innerHTML = lipids * qnd;

            });
        });

        $(document).ready(function () {
            $("#FoodColumn").removeClass('active');
            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
            $('.footable').footable();
            $('.footable2').footable();
            $("#foodSelect").click(function (e) {
                var id = e.target.getAttribute('name');
                $.ajax({
                    method: "GET",
                    url: "/Meal/GetFoodById/" + id,
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        document.getElementById('FoodIdIntoMeal').innerHTML = data.id;
                        document.getElementById('FoodNameIntoMeal').innerHTML = data.food_Name;
                        document.getElementById('FoodCaloriesIntoMeal').innerHTML = data.calories;
                        document.getElementById('FoodCarbsIntoMeal').innerHTML = data.carbohydrate;
                        document.getElementById('FoodProteinsIntoMeal').innerHTML = data.protein;
                        document.getElementById('FoodLipidsIntoMeal').innerHTML = data.lipid;
                        document.getElementById('MealUnMeasurement').innerHTML = data.unit;
                        calories = data.calories;
                        carbs = data.carbohydrate;
                        proteins = data.protein;
                        lipids = data.lipid;

                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
            });

        });
        $("input[id='qnd']").TouchSpin({
            min: 0,
            max: 1000,
            boostat: 5,
            maxboostedstep: 10,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        $.ajax({
            method: "GET",
            url: "/Meal/GetById/" + 1,
            contentType: "application/json",
            dataType: "json",
            traditional: true,
            success: function (data) {
                document.getElementById('MealNameColumn').innerHTML = data.name;
                document.getElementById('mealImage').src = "../img/refeicao/" + data.id + ".jpg";
                document.getElementById('MealCategoryColumn').innerHTML = data.category;
                document.getElementById('MealDescriptionColumn').innerHTML = data.description;
                document.getElementById('MealCaloriesColumn').innerHTML = data.total_Calories;
                document.getElementById('MealCarbohydratesColumn').innerHTML = data.total_Carbohydrates;
                document.getElementById('MealProteinsColumn').innerHTML = data.total_Proteins;
                document.getElementById('MealLipidsColumn').innerHTML = data.total_Lipids;
                $.ajax({
                    method: "GET",
                    url: "/Meal/GetMealFoodsById/" + 1,
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $.ajax({
                                method: "GET",
                                url: "/Meal/GetFoodById/" + data[i].foodID,
                                contentType: "application/json",
                                dataType: "json",
                                traditional: true,
                                success: function (data2) {
                                    document.getElementById('ingredientes').innerHTML = data2.food_Name;

                                    var a = '<span>' + data2.food_Name + ' - </span>';
                                    var b = '<span>' + data[i].quantity + ' ' + data2.unit + '</span>';

                                    $("#ingredientes").append(a);
                                    $("#ingredientes").append(b);
                                },
                                failure: function (response) {
                                    alert("Falha na comunicação com o servidor.");
                                },
                                error: function (response) {
                                }
                            });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
            },
            failure: function (response) {
                alert("Falha na comunicação com o servidor.");
            },
            error: function (response) {
            }
        });



        $("#FoodInsertIntoMeal").click(function () {
            var b = '<<tr><td>' + document.getElementById('FoodIdIntoMeal').innerHTML + '</td><td>' + document.getElementById('FoodNameIntoMeal').innerHTML + '</td><td>' + document.getElementById('qnd').value + '</td><td>' + document.getElementById('MealUnMeasurement').innerHTML + '</td></tr>';
            $("#myTable").append(b);
        });

        $(document.body).on("click", ".client-link", function (e) {

            if (this.getAttribute('id') == 'food') {
                var id = e.target.getAttribute('name');
                $.ajax({
                    method: "GET",
                    url: "/Meal/GetFoodById/" + id,
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        document.getElementById('FoodNameColumn').innerHTML = data.food_Name;
                        document.getElementById('FoodCategoryColumn').innerHTML = data.category;
                        document.getElementById('FoodCalories').innerHTML = data.calories;
                        document.getElementById('FoodCarbs').innerHTML = data.carbohydrate;
                        document.getElementById('FoodProteins').innerHTML = data.protein;
                        document.getElementById('FoodLipids').innerHTML = data.lipid;
                        document.getElementById('FoodAlcohol').innerHTML = data.alcohol;
                        document.getElementById('FoodCooper').innerHTML = data.copper;
                        document.getElementById('FoodFiber').innerHTML = data.fiber;
                        document.getElementById('FoodMagnesium').innerHTML = data.magnesium;
                        document.getElementById('FoodPhosphor').innerHTML = data.phosphor;
                        document.getElementById('FoodPotasium').innerHTML = data.potassium;
                        document.getElementById('FoodSodium').innerHTML = data.sodium;
                        document.getElementById('FoodSelenium').innerHTML = data.selenium;
                        document.getElementById('FoodVitaminA').innerHTML = data.vitamin_A;
                        document.getElementById('FoodVitaminC').innerHTML = data.vitamin_C;
                        document.getElementById('FoodVitaminD').innerHTML = data.vitamin_D;
                        document.getElementById('FoodVitaminE').innerHTML = data.vitamin_E;
                        document.getElementById('FoodVitaminB6').innerHTML = data.vitamin_B6;
                        document.getElementById('FoodVitaminB12').innerHTML = data.vitamin_B12;

                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }

                });
                e.preventDefault();
            } else {
                var id = e.target.getAttribute('name');
                $.ajax({
                    method: "GET",
                    url: "/Meal/GetById/" + id,
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        document.getElementById('MealNameColumn').innerHTML = data.name;
                        document.getElementById('mealImage').src = "../img/refeicao/" + data.id + ".jpg";
                        document.getElementById('MealCategoryColumn').innerHTML = data.category;
                        document.getElementById('MealDescriptionColumn').innerHTML = data.description;
                        document.getElementById('MealCaloriesColumn').innerHTML = data.total_Calories;
                        document.getElementById('MealCarbohydratesColumn').innerHTML = data.total_Carbohydrates;
                        document.getElementById('MealProteinsColumn').innerHTML = data.total_Proteins;
                        document.getElementById('MealLipidsColumn').innerHTML = data.total_Lipids;

                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
            }
        });

        $(document.body).on("click", ".client-link", function (e) {
            e.preventDefault()
            $(".selected .tab-pane").removeClass('active');
            $($(this).attr('href')).addClass("active");
        });

        $(function () {
            $("#FoodInsert").click(function (e) {
                var foodCategory = new Object();
                foodCategory.Name = $("#FoodCategory").find('option:selected').text();
                var food = new Object();
                food.Category = foodCategory;
                food.Food_Name = $("#Food_Name").val();
                food.unit = parseInt(("#Unit").val());
                food.Calories = parseFloat($("#Calories").val());
                food.Alcohol = parseFloat($("#Alcohol").val());
                food.Carbohydrate = parseFloat($("#Carbohydrate").val());
                food.Copper = parseFloat($("#Copper").val());
                food.Fiber = parseFloat($("#Fiber").val());
                food.Lipid = parseFloat($("#Lipid").val());
                food.Magnesium = parseFloat($("#Magnesium").val());
                food.Phosphor = parseFloat($("#Phosphor").val());
                food.Potassium = parseFloat($("#Potassium").val());
                food.Protein = parseFloat($("#Protein").val());
                food.Sodium = parseFloat($("#Sodium").val());
                food.Selenium = parseFloat($("#Selenium").val());
                food.Vitamin_A = parseFloat($("#Vitamin_A").val());
                food.Vitamin_C = parseFloat($("#Vitamin_C").val());
                food.Vitamin_D = parseFloat($("#Vitamin_D").val());
                food.Vitamin_E = parseFloat($("#Vitamin_E").val());
                food.Vitamin_B6 = parseFloat($("#Vitamin_B6").val());
                food.Vitamin_B12 = parseFloat($("#Vitamin_B12").val());
                food.Zinc = parseFloat($("#Zinc").val());

                $.ajax({
                    method: "POST",
                    url: "/Food/Insert/",
                    data: JSON.stringify(food),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function () {
                        swal({
                            title: "Sucesso!",
                            text: "Alimento cadastrado!",
                            type: "success"
                        });
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });

            $("#InsertCategory").click(function (e) {
                var category = new Object();
                category.Name = $("#NameCategory").val();

                $.ajax({
                    method: "POST",
                    url: "/FoodCategory/Insert/",
                    data: JSON.stringify(category),
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (response) {
                        if (response.success) {
                            $('#respostaServidor').html("Cadastro efetuado com sucesso!")
                            $('#respostaServidor').css({ "color": "green" });
                        }
                        else {
                            $('#respostaServidor').html(response.Erro);
                            $('#respostaServidor').css({ "color": "red" });
                        }
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
                e.preventDefault();
            });

            $("#Categories").change(function () {

                var id = $("#Categories").val();
                $.ajax({
                    method: "GET",
                    url: "/Meal/GetFoodOfCategory/" + id,
                    contentType: "application/json",
                    dataType: "json",
                    traditional: true,
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var s = '<option id="foodOption" name="' + data[i].id + '">' + data[i].food_Name + '</option>';
                            $("#foodSelect").append(s);
                            $("#foodSelect").bootstrapDualListbox("refresh", true);
                        }
                        //$("#foodSelect").multiselect("destroy");
                    },
                    failure: function (response) {
                        alert("Falha na comunicação com o servidor.");
                    },
                    error: function (response) {
                    }
                });
            });
        });
    </script>


}

