<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Procura por algo..." data-provide="typeahead" data-source='["Usuários","Refeições","Perfil","Alimentos"]' class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar">
            <li>
                <img alt="image" class="img-fluid" src="~/Images/logo_small.png" />
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="@Url.Action("Home", "Index")">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</div>

@section Scripts {
    <environment names="Development,Staging,Production">

        <script src="~/lib/typehead/bootstrap3-typeahead.min.js"></script>

    </environment>
    <script>
        


    $(document).ready(function () {



        $('#input').change(function () {
            if ($('#input').val == 'Usuários') {
                window.location.replace('@Url.Action("Users", "User")');
            }
            if ($('#input').val == 'Refeições') {
                window.location.replace('@Url.Action("Insert", "Meal")');
            }
            if ($('#input').val == 'Perfil') {
                window.location.replace('@Url.Action("Index", "User")');
            }
            if ($('#input').val == 'Alimentos') {
                window.location.replace('@Url.Action("Insert", "Meal")');
            }
        });

    });

    </script>
}
